html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90vmin;
    height: 75vmin;
    display: flex;
}

.options-menu {
    flex-grow: 1;
    background-color: burlywood;
}

.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 5;
    background-color: gray;
}

.grid-row {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
}

.grid-pixel {
    flex: 1;
}

.painted-pixel {
    background-color: blue;
}