html, body {
    height: 100%;
    margin: 0;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    width: 90vmin;
    height: 90vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-row {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
}

.grid-pixel {
    flex: 1;
    background-color: blue;
}