html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90vmin;
    height: 75vmin;
    display: flex;
}

/* Options Menu CSS */
.options-menu {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: burlywood;
}

#colors {
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
}

.color {
    width: 40%;
    height: 0;
    padding-bottom: 40%;
    margin: 5%;
    outline: 2px solid black;
}

#black {background-color: black;}
#gray {background-color: gray;}
#maroon {background-color: maroon;}
#red {background-color: red;}
#green {background-color: green;}
#lime {background-color: lime;}
#olive {background-color: olive;}
#yellow {background-color: yellow;}
#purple {background-color: purple;}
#fuchsia {background-color: fuchsia;}
#navy {background-color: navy;}
#blue {background-color: blue;}
#teal {background-color: teal;}
#aqua {background-color: aqua;}
#silver {background-color: silver;}
#white {background-color: white;}

#create-grid {
    flex: 1;
    margin: 15% 10%
}

/* Canvas Grid CSS */
.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 5;
    background-color: gray;
}

.grid-row {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
}

.grid-pixel {   
    flex: 1;
}